<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.wilkinson.privatemessenger" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="28" />
	<application android:allowBackup="true" android:icon="@drawable/send" android:label="@string/app_name" android:roundIcon="@drawable/send" android:supportsRtl="true" android:theme="@style/AppTheme"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/send_no_background" />
</manifest>